

<div [@routerTransition]>
    
    <app-page-header [heading]="'Pengujian'" [icon]="'fa-table'"> </app-page-header>
    <jqxLoader #jqxLoader
                            [text]="'Please wait for about several minutes...'"
                            [width]="300"
                            [height]="70">
                    </jqxLoader>

     
       
        
            <div class="row">
                
                <div class="col-sm-4">
                    <div class="card mb-3" >
         
                        <div class="card-header" style="background-color: white;border-bottom-color: white">
                                <h5>Form Pengujian GA</h5>
                         </div>

                          <form #ujiForm="ngForm" (ngSubmit)="onSubmit(ujiForm)" style="padding: 10px">
                                 <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="ujiService.selectedUji.$key">

                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"  id="basic-addon1">Number Gen :</span>
                                    </div>
                                    <input type="number" class="form-control" name="numGen" #numGen="ngModel" [(ngModel)]="ujiService.selectedUji.numGen" placeholder="Nama Gudang">
                                </div>

                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Pcrossover :</span>
                                    </div>
                                    <input type="number" class="form-control" name="pc" #pc="ngModel" [(ngModel)]="ujiService.selectedUji.pc" placeholder="Probabilitas Crossover">
                                </div>

                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Pmutation :</span>
                                    </div>
                                    <input type="number" class="form-control" name="pm" #pm="ngModel" [(ngModel)]="ujiService.selectedUji.pm" placeholder="Probabilitas Mutation">
                                </div>

                                 <button style="width:100%;font-size: 100%" type="submit" class="btn btn-secondary">Submit</button>

                            </form>
                    </div>
                    <button style="width:100%;font-size: 100%" type="button" class="btn btn-secondary" (click)="calculate()">Calculate</button>
                </div>
                <div class="col-sm-8">
                    <div class="card mb-3" >
         <div class="card-body table-responsive">
            <div class="card-header" style="background-color: white;border-bottom-color: white">
                    <h5>Hasil Rute</h5>
                </div>
                    <table class="table table-striped" style="size: 100%;padding:10px" >
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Number Gen</th>
                            <th scope="col">Number Pop</th>
                            <th scope="col">Pc</th>
                            <th scope="col">Pm</th>
                             <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of ujiList; index as i">
                            <th  scope="row">{{ i+1}}</th>
                            <td>{{item.numGen}}</td>
                            <td>{{item.numPop}}</td>
                            <td>{{item.pc}}</td>
                            <td>{{item.pm}}</td>
                            <td>
                                <a class="btn" (click)="onEdit(item)">
                                <i class="fa fa-pencil-square-o"></i>
                                </a>
                            </td>
                            
                            </tr>
                            <tr>
                            
                        </tbody>
                        </table>
         </div>
                </div>
                </div>
            </div>
                
            <div class="card mb-3">
                <div class="card-header">
                    Line Chart : {{gen.jarak2016}} | {{gen.jarak2017}}
                </div>
                <div class="card-body" *ngIf="lineChartData" >
                    <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" ></canvas>
                   
                </div>
            </div>
             <div class="card mb-3" >
         <div class="card-body table-responsive">
            <div class="card-header" style="background-color: white;border-bottom-color: white">
                    <h5>Waktu Eksekusi yang dibutuhkan</h5>
                </div>
                    <table class="table table-striped" style="size: 100%;padding:10px" >
                        <thead>
                            <tr>
                            <th scope="col">Pengujian ke</th>
                            <th scope="col">Waktu (milisecond)</th>
                            <th scope="col">Total Jarak (Km)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of executionTime; index as i; ">
                            <th  scope="row">{{ i+1}}</th>
                            <td>{{initTime+item}}</td>
                            <td>{{Elite[i]}}</td>
                            </tr>
                            <tr>
                            
                        </tbody>
                        </table>
         </div>
                </div>



    
           
                
            
            
           
       
</div>

