

<div [@routerTransition]>
    
    <app-page-header [heading]="'Download'" [icon]="'fa-table'"> </app-page-header>
  

     <div class="card mb-3 table-responsive" >
         <div class="row" style="padding:10px">
        <div class="col-sm-9" >
       
            <div class="card-header" style="background-color: white;border-bottom-color: white">
                    <h5>Download Aplikasi Android 'mRastraRoute' untuk Menampilkan Hasil Rute</h5>
                </div>
        </div>
        <div class="col-sm-3" >
            <a  href="https://drive.google.com/open?id=1KIL6L2rg_lwJlxIppTPxG0tnVeEx3yla" target="_blank" ><button type="button" class="btn btn-secondary">Download Here!</button></a>
        </div>
         </div>
        <img style="width: 100%" alt="mRastraRoute" src="assets/images/landing page_mRR.png">
    
                
   
     </div>
    
           
                
            
            
           
       
</div>

