

<div [@routerTransition]>
    
    <app-page-header [heading]="'Hasil Rute'" [icon]="'fa-table'"> </app-page-header>

     <div class="card mb-3 table-responsive" >
          <jqxLoader #jqxLoader
                            [text]="'Please wait for about 30 minutes...'"
                            [width]="300"
                            [height]="70">
                    </jqxLoader>
         <div class="row" style="padding:10px">
        <div class="col-sm-7" >
            <div class="card-header" style="background-color: white;border-bottom-color: white">
                    <h5>Hasil Rute Distribusi Rastra Jombang-Mojokerto</h5>
                </div>
        </div>
        <div class="col-sm-5" >
            <div class="row" >
                <div class="col-sm-6" >
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Gudang :</label>
                        </div>
                        <select class="custom-select" (change)="onChange($event.target.value)" id="inputGroupSelect01">
                            <option value="all" selected>All</option>
                            <option *ngFor="let item of gudangList; index as i" value="{{i}}">{{item.namaGudang}}</option>
                            
                        </select>
                        </div>
                </div>
                <div class="col-sm-6" >
                    <button type="button" class="btn btn-secondary " (click)="calculate()" >Calculate
                        
                    </button>
                    <button  type="button" class="btn btn-secondary" (click)="excelExport()">Download</button>     
                    
                </div>
                
            </div>

        </div>
    </div>
                    
    <jqxDataTable #myDataTable [width]="'100%'" [columnsResize]="true" [columns]="columns" [selectionMode]="'singleRow'" [altRows]="true" [sortable]="false" [editable]="false" [pageable]="true" [filterable]="true"
    [pagerButtonsCount]="10" [filterMode]="'simple'"  [source]="dataAdapter"  >
    
</jqxDataTable>
 
           
     </div>


    
           
                
            
            
       
</div>

