<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
       <a [routerLink]="['/data']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-file"></i>&nbsp;{{ 'Data' }}
        </a>
         <a [routerLink]="['/hasil']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-truck"></i>&nbsp;{{ 'Hasil Rute' }}
        </a>
        <a [routerLink]="['/pengaturan']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-gear"></i>&nbsp;{{ 'Pengaturan' }}
        </a>
        <a [routerLink]="['/download']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-download"></i>&nbsp;{{ 'Download' }}
        </a>
        <a *ngIf="user.email=='h52zzuhriyah@gmail.com'" [routerLink]="['/pengujian']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-th"></i>&nbsp;{{ 'Pengujian' }}
        </a>
        
       
        
        
       
        <div class="header-fields">
           
            <div  class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('Settings')">
                    <span><i class="fa fa-user"></i>&nbsp; {{user.name}} </span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'Settings'">
                    <ul class="submenu">
                       
                        <li>
                            <a [routerLink]="['/setting']"  >
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"  ></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>
