

<div [@routerTransition]>
    
    <app-page-header [heading]="'Pengaturan'" [icon]="'fa-table'"> </app-page-header>
    
  <jqxLoader #jqxLoader_2
                            [text]="'Please wait for about several minutes...'"
                            [width]="300"
                            [height]="70">
                    </jqxLoader>
     
       
        
            <div class="row">
                
                 <div class="col-sm-6">
                    <div class="card mb-3" >
         
                        <div class="card-header" style="background-color: white;border-bottom-color: white">
                                <h5>Form Kapasitas Gudang</h5>
                         </div>

                          <form #gudangForm="ngForm" (ngSubmit)="onSubmit(gudangForm)" style="padding: 10px">
                                 <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="gudangService.selectedGudang.$key">

                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"  id="basic-addon1">Gudang :</span>
                                    </div>
                                    <input type="text" class="form-control" name="namaGudang" #namaGudang="ngModel" [(ngModel)]="gudangService.selectedGudang.namaGudang" placeholder="Nama Gudang" disabled>
                                </div>

                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Kapasitas :</span>
                                    </div>
                                    <input type="number" class="form-control" name="kapasitas" #kapasitas="ngModel" [(ngModel)]="gudangService.selectedGudang.kapasitas" placeholder="Kapasitas Gudang" required>
                                </div>

                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Stok :</span>
                                    </div>
                                    <input type="number" class="form-control" name="stok" #stok="ngModel" [(ngModel)]="gudangService.selectedGudang.stok" placeholder="Stok Gudang" required>
                                </div>

                                 <button style="width:100%;font-size: 100%" type="submit" class="btn btn-secondary">Submit</button>

                            </form>
                    </div>
                </div>
 
                <div class="col-sm-6">
                    <div class="card mb-3" >
         <div class="card-body table-responsive">
            <div class="card-header" style="background-color: white;border-bottom-color: white">
                    <h5>Kapasitas Gudang</h5>
                </div>
                    <table class="table table-striped" style="size: 100%;padding:10px" >
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nama Gudang</th>
                            <th scope="col">Kapasitas (ton)</th>
                            <th scope="col">Stok (ton)</th>
                             <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of gudangList; index as i">
                            <th  scope="row">{{ i+1}}</th>
                            <td>{{item.namaGudang}}</td>
                            <td>{{item.kapasitas}}</td>
                            <td>{{item.stok}}</td>
                            <td>
                                <a class="btn" (click)="onEdit(item)">
                                <i class="fa fa-pencil-square-o"></i>
                                </a>
                            </td>
                            </tr>
                            <tr>
                            
                        </tbody>
                        </table>
         </div>
                </div>
                </div>
               
            </div>
                

 <div class="row">
                <div class="col-sm-6">
                    <div class="card mb-3" >
         <div class="card-body table-responsive">
            <div class="card-header" style="background-color: white;border-bottom-color: white">
                    <h5>Tambah Dataran Tinggi</h5>
                </div>
                    <input type="text" class="form-control" name="searchString" placeholder="Type to search..." [(ngModel)]="searchString">
                        <br>
                        <table class="table table-striped" style="size: 100%;padding:10px" >
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Kecamatan</th>
                            <th scope="col">Desa</th>
                              <th scope="col">Add</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of rastraList| filter : 'desa' : searchString; let i = index">
                            <th  scope="row">{{ i+1}}</th>
                            <td>{{item.kecamatan}}</td>
                            <td>{{item.desa}}</td>
                            <td>
                                <a class="btn" (click)="onAdd(item.kecamatan, item.desa)">
                                <i class="fa fa-plus"></i>
                                </a>
                            </td>
                            </tr>
                            <tr>
                            
                        </tbody>
                        </table>
         </div>
                </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mb-3" >
         <div class="card-body table-responsive">
            <div class="card-header" style="background-color: white;border-bottom-color: white">
                    <h5>Dataran Tinggi</h5>
                </div>
                  
                        <table class="table table-striped" style="size: 100%;padding:10px" >
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Kecamatan</th>
                            <th scope="col">Desa</th>
                              <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dataranList; let i = index">
                            <th  scope="row">{{ i+1}}</th>
                            <td>{{item.kecamatan}}</td>
                            <td>{{item.desa}}</td>
                            <td>
                                <a class="btn" (click)="onDelete_dataran(item.$key,item.desa)">
                                <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                            </tr>
                            <tr>
                            
                        </tbody>
                        </table>
         </div>
                </div>
                </div>
            </div>
     


    
           
                
            
            
           
       
</div>

