

<div [@routerTransition]>
    
    <app-page-header [heading]="'Setting'" [icon]="'fa-table'"> </app-page-header>
    

    <div class="row">
        <div class="col-sm-6" >
            <div class="card mb-3" style="align-content: center;padding: 10px" >
            <div class="card-header" style="background-color: white;border-bottom-color: white">
                <h5>Informasi Akun</h5>
             </div>

             <div style="width:200px;height:200px;align-self:center;padding: 10px">
            <img src="{{user.image}}" alt="Foto Profil" class="img-thumbnail">
             </div>


            <div class="alert alert-secondary" role="alert" style="text-align: center;padding: 10px">
            {{user.name}}
            </div>

            <button style="width:100%;font-size: 100%" (click)="onViewEdit()" type="button" class="btn btn-secondary">Edit</button>

        </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-3" >
         
                        <div class="card-header" style="background-color: white;border-bottom-color: white">
                                <h5>Form Pengaturan Akun</h5>
                         </div>

                          <form   #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" style="padding: 10px">
                           

                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"  id="basic-addon1">Username :</span>
                                    </div>
                                    <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="username"  placeholder="Username">
                                </div>

                                <div *ngIf='user.provider == "password"' class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">New-Password :</span>
                                    </div>
                                    <input type="password" class="form-control" name="pass1" #pass1="ngModel"  [(ngModel)]="pass_1" placeholder="New Password">
                                </div>

                                <div  *ngIf='user.provider == "password"' class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Re-Password :</span>
                                    </div>
                                    <input type="password" class="form-control" name="pass2" #pass2="ngModel"  [(ngModel)]="pass_2" placeholder="Retype Password">
                                </div>
                            

                                    <label class="error">{{err_m}}</label>
                                 <button style="width:100%;font-size: 100%" type="submit" class="btn btn-secondary">Submit</button>

                            </form>
                    </div>
        </div>
      
    </div>

                    
              
                
    
     


    
           
                
            
            
           
       
</div>

