

<div [@routerTransition]>
    
    <app-page-header [heading]="'Setting'" [icon]="'fa-table'"> </app-page-header>
    

    <div class="row">
        <div class="col-sm-6" >
            <div class="card mb-3" style="align-content: center;padding: 10px" >
            <div class="card-header" style="background-color: white;border-bottom-color: white">
                <h5>Informasi Akun</h5>
             </div>

             <div style="width:200px;height:200px;align-self:center;padding: 10px">
            <img src="assets/images/logo.png" alt="Foto Profil" class="img-thumbnail">
             </div>


            <div class="alert alert-secondary" role="alert" style="text-align: center;padding: 10px">
            H52zzuhriyah@gmail.com
            </div>

            <button style="width:100%;font-size: 100%" type="submit" class="btn btn-secondary">Edit</button>

        </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-3" >
         
                        <div class="card-header" style="background-color: white;border-bottom-color: white">
                                <h5>Form Pengaturan Akun</h5>
                         </div>

                          <form role="form" style="padding: 10px">


                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"  id="basic-addon1">Email :</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>

                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Password :</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Password">
                                </div>

                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Re-Password :</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Retype Password">
                                </div>
                                

                                <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon01">Foto :</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                                </div>


                                 <button style="width:100%;font-size: 100%" type="submit" class="btn btn-secondary">Submit</button>

                            </form>
                    </div>
        </div>
      
    </div>

                    
              
                
    
     


    
           
                
            
            
           
       
</div>

